body{
    height:100vh ;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color:rgb(246, 214, 195)

}
.output-box{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 14vh;
    width: 250px;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgb(12, 187, 12);
    padding: 10px;
    background-color:white;
}
.op1{
    font-size: 1.5em;
}
.op2{
    border: none;
}
.input-box {
    border: 2px solid black;
    height: 60vh;
    text-align: center;
    background-color:rgb(145, 196, 248);
  }
.span1{
    width: 30%;
    margin: 2px 0;
    height: 17%;
    border: none;
}
.span2{
    width: 30%;
    height: 23%;
    border-radius: 50%;
    background-color:green;
    color: bisque;

}
.top,.bottom{
    margin: 0;
    padding: 0;
}